ion-icon {  
    width: 35px;
    height: 35px;
    cursor: pointer;
}

ion-input {
    border-style: dashed;
    border-width: 1px;
}

#deleteIcon {
    position: absolute;
    bottom: 0;
    right: 0;
}

.editAddSelect {
    background-color: white;
}