<ion-header [translucent]="true">
     <ion-toolbar>
          <ion-buttons slot="start"> 
               <ion-menu-button></ion-menu-button>                
          </ion-buttons>            
          
          <ion-title>WatchList Queue</ion-title>
     </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataService.isBackendURLSet()">
     <ion-refresher slot="fixed" (ionRefresh)="dataService.pullToRefresh($event,'WatchListQueueItems')">
          <ion-refresher-content></ion-refresher-content>
     </ion-refresher>
    
     <ion-grid>
          <ion-row>
               <ion-col size="1">
                    <ion-icon *ngIf="!dataService.isAdding && !dataService.isEditing" class="addWatchListQueue" name="add-outline" (click)="addWatchListQueueItem()"></ion-icon>
               </ion-col>               
          </ion-row>
     </ion-grid>

     <div class="ion-list-parent">
          <ion-list>
               <ion-item> <!-- Table headers -->
                    <ion-grid>
                         <ion-row>
                              <ion-col [size]="this.dataService.getColumnSize('ID','WatchListQueueItems')" class="IDColumn">
                                   <ion-label>ID</ion-label><ion-icon *ngIf="dataService.watchListSortDirection =='ASC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'ID' ? 'upArrow IDArrowIcon active' : 'upArrow IDArrowIcon'" name="caret-up-outline" (click)="dataService.sortClick('ID','ASC','WatchList')"></ion-icon><ion-icon *ngIf="dataService.watchListSortDirection =='DESC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'ID' ? 'downArrow IDArrowIcon active' : 'downArrow IDArrowIcon'" name="caret-down-outline" (click)="dataService.sortClick('ID','DESC','WatchList')"></ion-icon>
                              </ion-col>
  
                              <ion-col [size]="this.dataService.getColumnSize('Name','WatchListQueueItems')" [ngClass]="dataService.isMobilePlatform == true ? 'nameLabelMobileColumn' : 'nameLabelColumn'">
                                   <ion-label>Name</ion-label><ion-icon *ngIf="dataService.watchListSortDirection =='ASC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'Name' ? 'upArrow nameArrowIcon active' : 'upArrow nameArrowIcon'" name="caret-up-outline" (click)="dataService.sortClick('Name','ASC','WatchList')"></ion-icon><ion-icon *ngIf="dataService.watchListSortDirection =='DESC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'Name' ? 'downArrow nameArrowIcon active' : 'downArrow nameArrowIcon'" name="caret-down-outline" (click)="dataService.sortClick('Name','DESC','WatchList')"></ion-icon>
                              </ion-col>
  
                              <ion-col [size]="this.dataService.getColumnSize('Notes','WatchListQueueItems')" [ngClass]="dataService.isMobilePlatform == true ? 'notesLabelMobileColumn' : 'notesLabelColumn'">
                                   <ion-label>Notes</ion-label>
                              </ion-col>
  
                              <ion-col [size]="this.dataService.getColumnSize('Action','WatchListQueueItems')"> <!-- Action column -->
                              </ion-col>
                        </ion-row>
                    </ion-grid>               
               </ion-item>

               <ion-item *ngIf="dataService.isAdding">  <!-- Add Panel -->
                    <ion-grid>
                         <ion-row>
                              <ion-col [size]="this.dataService.getColumnSize('ID','WatchListQueueItems')" class="IDColumn"></ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Name','WatchListQueueItems')" [ngClass]="dataService.isMobilePlatform == true ? 'nameDataMobileColumn' : ''">
                                   <ion-select placeholder='Name' name="title" [(ngModel)]="addQueueItemID">
                                        <ion-select-option *ngFor="let currItem of dataService.watchListNames;trackBy: dataService.trackByFn" [value]="currItem.WatchListItemID">{{currItem.WatchListItemName}}</ion-select-option>
                                   </ion-select>
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Notes','WatchListQueueItems')" [ngClass]="dataService.isMobilePlatform == true ? 'notesDataMobileColumn' : ''">
                                   <ion-input type="text" [(ngModel)]="addQueueItemNotes"></ion-input>
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Action','WatchListQueueItems')" class="actionColumn">
                                   <ion-icon class="editSave" name="save-outline" (click)="saveNewWatchListQueueItem()"></ion-icon>
                                   <ion-icon name="close-circle-outline" (click)="cancelAddWatchListQueueItem()"></ion-icon>
                              </ion-col>
                        </ion-row>
                    </ion-grid>
               </ion-item>

               <ion-item *ngFor="let currWatchListQueue of dataService.watchListQueue"> <!-- Data Panel -->
                    <ion-grid>
                         <ion-row>
                              <ion-col [size]="this.dataService.getColumnSize('ID','WatchListQueueItems')" class="IDColumn">
                                   <ion-label>{{ currWatchListQueue.WatchListQueueItemID }}</ion-label>
                              </ion-col>
                         
                              <ion-col [size]="this.dataService.getColumnSize('Name','WatchListQueueItems')" [ngClass]="dataService.isMobilePlatform == true ? 'nameDataMobileColumn' : 'nameDataColumn'">
                                   <div *ngIf="!dataService.isEditing">
                                        <div *ngIf="dataService.getIMDBURL(currWatchListQueue.WatchListQueueItemID) === null; else hyperLinkDiv">
                                             {{dataService.getWatchListItemName(currWatchListQueue.WatchListItemID)}}
                                        </div>
 
                                        <ng-template #hyperLinkDiv>
                                             <a [href]="dataService.getIMDBURL(currWatchListQueue.WatchListItemID)" target="_blank">{{dataService.getWatchListItemName(currWatchListQueue.WatchListItemID)}}</a>
                                        </ng-template>
                                    </div>
 
                                   <ion-select *ngIf="dataService.isEditing" placeholder='Name' name="title" type="number" [disabled]="currWatchListQueue.Disabled" [(ngModel)]="currWatchListQueue.WatchListItemID">
                                        <ion-select-option *ngFor="let currItem of dataService.watchListNames;trackBy: dataService.trackByFn" [value]="currItem.WatchListItemID">{{currItem.WatchListItemName}}</ion-select-option>
                                   </ion-select>
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Notes','WatchListItems')" [ngClass]="dataService.isMobilePlatform == true ? 'notesDataMobileColumn' : ''">
                                   <ion-input [disabled]="currWatchListQueue.Disabled" type="text" [(ngModel)]="currWatchListQueue.Notes"></ion-input>
                              </ion-col>
 
                              <ion-col [size]="this.dataService.getColumnSize('Action','WatchListQueueItems')" class="actionColumn">
                                   <span title="Add To WatchList" *ngIf="!dataService.isAdding && !dataService.isEditing" (click)="addToWatchList(currWatchListQueue)"><ion-icon style="pointer-events:none" class="addWatchListQueue" name="add-outline"></ion-icon></span>
                                   <ion-icon *ngIf="currWatchListQueue.Disabled && !dataService.isAdding && !dataService.isEditing" class="editSave" name="create-outline" (click)="editWatchListQueueItem(currWatchListQueue)"></ion-icon>
                                   <ion-icon *ngIf="currWatchListQueue.Disabled && !dataService.isAdding && !dataService.isEditing" name="trash-outline" (click)="deleteWatchListQueueItem(currWatchListQueue)"></ion-icon>                                   
                                   <ion-icon *ngIf="!currWatchListQueue.Disabled" class="editSave" name="save-outline" (click)="saveWatchListQueueItem(currWatchListQueue)"></ion-icon>
                                   <ion-icon *ngIf="!currWatchListQueue.Disabled" name="close-circle-outline" (click)="cancelEditWatchListQueueItem(currWatchListQueue)"></ion-icon>
                              </ion-col>
                         </ion-row>
                    </ion-grid>
               </ion-item>
          </ion-list>
     </div>
</ion-content>