.datagrid {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 2px 2px 0;
    position: relative;
    left: -20px;
    padding-left: 20px;
    width: 101%;
}

.data ul {
    border-radius: 15px !important;
    display: inline;
}

.data li {
    border-radius: 15px;
    display: flex;
    list-style-type: none;
    margin-bottom: 25px;
    margin-left: 1%;
    margin-right: 60%;
    width: fit-content;
}

.data li  div {
    margin-left: 25px;
}

.data li img {
    border-radius: 15px;
    margin-left: 25px;
}

.data li span {
    width: 400px;
}
.data li .detailColumn * {
    margin-bottom: 25px;
}
/*.datagrid tr:nth-child(even) td:not(.header){
    background-color: #eee;
}

.datagrid tr:nth-child(even) td:not(.header){
    background-color: #eee;
}*/