<ion-header [translucent]="true">
     <ion-toolbar>
          <ion-buttons slot="start"> 
               <ion-menu-button></ion-menu-button>                
          </ion-buttons>
          
          <ion-grid>
               <ion-row>
                    <ion-col size="12">
                         <ion-searchbar *ngIf="dataService.isBackendURLSet() && dataService.isLoggedIn"(ionChange)="dataService.searchTermChangeHandler($event)" [disabled]="dataService.isAdding || dataService.isEditing" [(ngModel)]="dataService.searchTerm"></ion-searchbar>
                    </ion-col>
               </ion-row>
          </ion-grid>
     </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataService.isBackendURLSet() && dataService.isLoggedIn">
     <ion-refresher slot="fixed" (ionRefresh)="dataService.pullToRefresh($event,'WatchList')">
          <ion-refresher-content></ion-refresher-content>
     </ion-refresher>
     
     <ion-grid>
          <ion-row>
               <ion-col size="6">
                    <ion-icon *ngIf="!dataService.isAdding && !dataService.isEditing" name="add-outline" (click)="addWatchList()"></ion-icon>
               </ion-col>
          </ion-row>
     </ion-grid>

     <div class="ion-list-parent">
          <ion-list lines="none">
               <!-- Pagination -->
               <ion-item *ngIf="filteredWatchList && filteredWatchList.length > 0" lines="none">
                    <span class="pageSpan" *ngIf="filteredWatchList && filteredWatchList.length > itemsPerPage">
                         <span class="page nomargin" *ngIf="currentPage > 1">Previous</span>

                         <span class="page" [ngClass]="{'active': currentPage === (pageIndex + 1)}" (click)="paginationClickHandler(0,pageIndex + 1)" *ngFor="let number of numSequence(filteredWatchList.length/itemsPerPage > 1 ? math.round(filteredWatchList.length/itemsPerPage) : 1 );let pageIndex=index">
                              {{ pageIndex + 1 }}
                         </span>

                         <span class="page nomargin" *ngIf="currentPage < filteredWatchList.length/itemsPerPage" (click)="paginationClickHandler(1)">Next</span>
                    </span>
               </ion-item>

               <ion-item> <!-- Table headers -->
                    <ion-grid>
                         <ion-row>
                              <ion-col [size]="dataService.getColumnSize('Name','WatchList')">
                                   <ion-label class="header">Name</ion-label>
                                   <ion-icon *ngIf="filteredWatchList?.length > 0 && dataService.watchListSortDirection ==='ASC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'Name' ? 'upArrow nameArrowIcon active header' : 'upArrow nameArrowIcon header'" name="caret-up-outline" (click)="dataService.sortClick('Name','ASC','WatchList')"></ion-icon>
                                   <ion-icon *ngIf="filteredWatchList?.length > 0 && dataService.watchListSortDirection ==='DESC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'Name' ? 'downArrow nameArrowIcon active header' : 'downArrow nameArrowIcon header'" name="caret-down-outline" (click)="dataService.sortClick('Name','DESC','WatchList')"></ion-icon>
                              </ion-col>

                              <ion-col [size]="dataService.getColumnSize('StartDate','WatchList')">
                                   <ion-label class="header">Start Date</ion-label>
                                   <ion-icon *ngIf="filteredWatchList?.length > 0 && dataService.watchListSortDirection ==='ASC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'StartDate' ? 'upArrow startDateArrowIcon active header' : 'upArrow startDateArrowIcon header'" name="caret-up-outline" (click)="dataService.sortClick('StartDate','ASC','WatchList')"></ion-icon>
                                   <ion-icon *ngIf="filteredWatchList?.length > 0 && dataService.watchListSortDirection ==='DESC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'StartDate' ? 'downArrow startDateArrowIcon active header' : 'downArrow startDateArrowIcon header'" name="caret-down-outline" (click)="dataService.sortClick('StartDate','DESC','WatchList')"></ion-icon>
                              </ion-col>

                              <ion-col [size]="dataService.getColumnSize('EndDate','WatchList')">
                                   <ion-label class="header">End Date</ion-label>
                                   <ion-icon *ngIf="filteredWatchList?.length > 0 && dataService.watchListSortDirection ==='ASC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'EndDate' ? 'upArrow endDateArrowIcon active header' : 'upArrow endDateArrowIcon header'" name="caret-up-outline" (click)="dataService.sortClick('EndDate','ASC','WatchList')"></ion-icon>
                                   <ion-icon *ngIf="filteredWatchList?.length > 0 && dataService.watchListSortDirection ==='DESC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'EndDate' ? 'downArrow endDateArrowIcon active header' : 'downArrow endDateArrowIcon header'" name="caret-down-outline" (click)="dataService.sortClick('EndDate','DESC','WatchList')"></ion-icon>
                              </ion-col>

                              <ion-col [size]="dataService.getColumnSize('Source','WatchList')">
                                   <ion-label class="header">Source</ion-label>
                                   <ion-icon *ngIf="filteredWatchList?.length > 0 && dataService.watchListSortDirection ==='ASC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'Source' ? 'upArrow sourceArrowIcon active header' : 'upArrow sourceArrowIcon header'" name="caret-up-outline" (click)="dataService.sortClick('WatchListSourceID','ASC','WatchList')"></ion-icon>
                                   <ion-icon *ngIf="filteredWatchList?.length > 0 && dataService.watchListSortDirection ==='DESC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'Source' ? 'downArrow sourceArrowIcon active header' : 'downArrow sourceArrowIcon header'" name="caret-down-outline" (click)="dataService.sortClick('WatchListSourceID','DESC','WatchList')"></ion-icon>
                              </ion-col>

                              <ion-col [size]="dataService.getColumnSize('Season','WatchList')">
                                   <ion-label>Season</ion-label>
                              </ion-col>

                              <ion-col [size]="dataService.getColumnSize('Rating','WatchList')">
                                   <ion-label>Rating</ion-label>
                              </ion-col>

                              <ion-col [size]="dataService.getColumnSize('Notes','WatchList')">
                                   <ion-label>Notes</ion-label>
                              </ion-col>

                              <ion-col [size]="dataService.getColumnSize('Action','WatchList')"> <!-- Action column -->
                              </ion-col>
                         </ion-row>
                    </ion-grid>               
               </ion-item>

               <div *ngFor="let currWatchList of filteredWatchList;let index=index">
                    <ion-item *ngIf="isShown(index)">
                         <ion-grid>
                              <ion-row>
                                   <ion-col [size]="dataService.getColumnSize('Name','WatchList')" class="nameColumn">
                                        <ion-label (click)="dataService.openDetailOverlay('watchlist',currWatchList.WatchListID)">
                                             {{ dataService.getWatchListItemName(currWatchList.WatchListItemID) }}
                                        </ion-label>

                                        <img *ngIf="currWatchList.IMDB_Poster !== null" class="poster" src="{{currWatchList.IMDB_Poster}}" (click)="dataService.openDetailOverlay('watchlist',currWatchList.WatchListID)">
                                   </ion-col>

                                   <ion-col [size]="dataService.getColumnSize('StartDate','WatchList')">
                                        <ion-label>
                                             {{ currWatchList.StartDate | date:"MM/dd/yyyy" }}
                                        </ion-label>
                                   </ion-col>

                                   <ion-col [size]="dataService.getColumnSize('EndDate','WatchList')">
                                        <ion-label>
                                             {{ currWatchList.EndDate | date:"MM/dd/yyyy" }}
                                        </ion-label>
                                   </ion-col>

                                   <ion-col [size]="dataService.getColumnSize('Source','WatchList')">
                                        <ion-label>
                                             {{ dataService.getSourceName(currWatchList.WatchListSourceID) }}
                                        </ion-label>
                                   </ion-col>

                                   <ion-col [size]="dataService.getColumnSize('Season','WatchList')">
                                        <ion-label *ngIf="dataService.getWatchListTypeNameByWatchListItemID(currWatchList.WatchListItemID) === 'TV'">
                                             {{ currWatchList.Season }}
                                        </ion-label>
                                   </ion-col>

                                   <ion-col [size]="dataService.getColumnSize('Rating','WatchList')">
                                        <ion-label>
                                             {{ currWatchList.Rating }} <span *ngIf="currWatchList['Rating'] !== null">/ {{ dataService.ratingMax }}</span>
                                        </ion-label>
                                   </ion-col>

                                   <ion-col [size]="dataService.getColumnSize('Notes','WatchList')">
                                        <ion-label>
                                             {{ currWatchList['Notes'] }}
                                        </ion-label>
                                   </ion-col>
                              </ion-row>
                         </ion-grid>
                    </ion-item>
               </div>

               <!-- Pagination -->
               <ion-item lines="none">
                    <span class="pageSpan" *ngIf="filteredWatchList && filteredWatchList.length > itemsPerPage">
                         <span class="page nomargin" *ngIf="currentPage > 1">Previous</span>

                         <span class="page" [ngClass]="{'active': currentPage === (pageIndex + 1)}" (click)="paginationClickHandler(0,pageIndex + 1)" *ngFor="let number of numSequence(filteredWatchList.length/itemsPerPage > 1 ? math.round(filteredWatchList.length/itemsPerPage) : 1 );let pageIndex=index">
                              {{ pageIndex + 1 }}
                         </span>

                         <span class="page nomargin" *ngIf="currentPage < filteredWatchList.length/itemsPerPage" (click)="paginationClickHandler(1)">Next</span>
                    </span>
               </ion-item>
          </ion-list>
          
          <div *ngIf="filteredWatchList">{{ filteredWatchList.length }} records</div>
     </div>
</ion-content>