.actionColumn {
     display: inline-flex;
}

.detailLink {
     cursor: pointer;
     text-decoration: underline;
}

.ion-list-parent {
     width: 100%;
     overflow: auto;
}

.IDColumn, .nameColumn {
     margin-top: 8px;
}

ion-content {
     overflow: auto;
}

ion-icon {
     width: 45px;
     height: 45px;
     cursor: pointer;
}

ion-input {
     border-style: dashed;
     border-width: 1px;
}

ion-label {
     margin-top: 10px;
}

ion-list.md.list-md {
     min-width: 1000px;
     overflow: auto;
}

ion-select {
     border-style: dashed;
     border-width: 1px;
     max-width: 100%;
}

ion-grid > ion-row > ion-col > ion-icon.nameArrowIcon, 
ion-grid > ion-row > ion-col > ion-icon.IDArrowIcon, 
ion-grid > ion-row > ion-col > ion-icon.startDateArrowIcon,
ion-grid > ion-row > ion-col > ion-icon.endDateArrowIcon,
ion-grid > ion-row > ion-col > ion-icon.sourceArrowIcon {
     width: 30px;
     position: relative;
     vertical-align: bottom;
}

ion-grid > ion-row > ion-col > ion-icon.active {
     color: darkblue
}