<ion-header [translucent]="true">
     <ion-toolbar>
          <ion-buttons slot="start"> 
               <ion-menu-button></ion-menu-button>                
          </ion-buttons>            
          <ion-title>WatchList</ion-title>
     </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataService.isBackendURLSet() && dataService.isAuthKeySet()">
     <ion-refresher slot="fixed" (ionRefresh)="dataService.pullToRefresh($event,'WatchList')">
          <ion-refresher-content></ion-refresher-content>
     </ion-refresher>
     
     <ion-grid>
          <ion-row>
               <ion-col size="1">
                    <ion-icon *ngIf="!dataService.isAdding && !dataService.isEditing" name="add-outline" (click)="addWatchList()"></ion-icon>
               </ion-col>               
          </ion-row>
     </ion-grid>

     <div class="ion-list-parent">
          <ion-list>
               <ion-item> <!-- Table headers -->
                    <ion-grid>
                         <ion-row>
                              <ion-col [size]="this.dataService.getColumnSize('ID','WatchList')">
                                   <ion-label>ID</ion-label>
                                   <!--<ion-icon *ngIf="dataService.watchListSortDirection =='ASC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'ID' ? 'upArrow IDArrowIcon active' : 'upArrow IDArrowIcon'" name="caret-up-outline" (click)="dataService.sortClick('ID','ASC','WatchList')"></ion-icon><ion-icon *ngIf="dataService.watchListSortDirection =='DESC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'ID' ? 'downArrow IDArrowIcon active' : 'downArrow IDArrowIcon'" name="caret-down-outline" (click)="dataService.sortClick('ID','DESC','WatchList')"></ion-icon>-->
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Name','WatchList')">
                                   <ion-label>Name</ion-label><!--<ion-icon *ngIf="dataService.watchListSortDirection =='ASC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'Name' ? 'upArrow nameArrowIcon active' : 'upArrow nameArrowIcon'" name="caret-up-outline" (click)="dataService.sortClick('Name','ASC','WatchList')"></ion-icon><ion-icon *ngIf="dataService.watchListSortDirection =='DESC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'Name' ? 'downArrow nameArrowIcon active' : 'downArrow nameArrowIcon'" name="caret-down-outline" (click)="dataService.sortClick('Name','DESC','WatchList')"></ion-icon>-->
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('StartDate','WatchList')">
                                   <ion-label>Start Date</ion-label><!--<ion-icon *ngIf="dataService.watchListSortDirection =='ASC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'StartDate' ? 'upArrow startDateArrowIcon active' : 'upArrow startDateArrowIcon'" name="caret-up-outline" (click)="dataService.sortClick('StartDate','ASC','WatchList')"></ion-icon><ion-icon *ngIf="dataService.watchListSortDirection =='DESC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'StartDate' ? 'downArrow startDateArrowIcon active' : 'downArrow startDateArrowIcon'" name="caret-down-outline" (click)="dataService.sortClick('StartDate','DESC','WatchList')"></ion-icon>-->
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('EndDate','WatchList')">
                                   <ion-label>End Date</ion-label><!--<ion-icon *ngIf="dataService.watchListSortDirection =='ASC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'EndDate' ? 'upArrow endDateArrowIcon active' : 'upArrow endDateArrowIcon'" name="caret-up-outline" (click)="dataService.sortClick('EndDate','ASC','WatchList')"></ion-icon><ion-icon *ngIf="dataService.watchListSortDirection =='DESC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'EndDate' ? 'downArrow endDateArrowIcon active' : 'downArrow endDateArrowIcon'" name="caret-down-outline" (click)="dataService.sortClick('EndDate','DESC','WatchList')"></ion-icon>-->
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Source','WatchList')">
                                   <ion-label>Source</ion-label><!--<ion-icon *ngIf="dataService.watchListSortDirection =='ASC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'Source' ? 'upArrow sourceArrowIcon active' : 'upArrow sourceArrowIcon'" name="caret-up-outline" (click)="dataService.sortClick('Source','ASC','WatchList')"></ion-icon><ion-icon *ngIf="dataService.watchListSortDirection =='DESC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListSortActiveColumn === 'Source' ? 'downArrow sourceArrowIcon active' : 'downArrow sourceArrowIcon'" name="caret-down-outline" (click)="dataService.sortClick('Source','DESC','WatchList')"></ion-icon>-->
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Season','WatchList')">
                                   <ion-label>Season</ion-label>
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Notes','WatchList')">
                                   <ion-label>Notes</ion-label>
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Action','WatchList')"> <!-- Action column -->
                              </ion-col>
                         </ion-row>
                    </ion-grid>               
               </ion-item>

               <ion-item *ngFor="let currWatchList of dataService.watchList"> <!-- Data Panel -->
                    <ion-grid>
                         <ion-row>
                              <ion-col [size]="this.dataService.getColumnSize('ID','WatchList')" class="IDColumn">
                                   <a class="detailLink" (click)="this.dataService.openDetailOverlay('watchlist',currWatchList.WatchListID)">{{ currWatchList.WatchListID }}</a>
                              </ion-col>
                              
                              <ion-col [size]="this.dataService.getColumnSize('Name','WatchList')" class="nameColumn">
                                   <ion-label *ngIf="dataService.getIMDBURL(currWatchList.WatchListItemID) === null; else hyperLinkDiv">
                                        {{ dataService.getWatchListItemName(currWatchList.WatchListItemID) }}
                                   </ion-label>

                                   <ng-template #hyperLinkDiv>
                                        <a [href]="dataService.getIMDBURL(currWatchList.WatchListItemID)" target="_blank">{{ dataService.getWatchListItemName(currWatchList.WatchListItemID) }}</a>
                                   </ng-template>
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('StartDate','WatchList')">
                                   <ion-label>
                                        {{ currWatchList.StartDate | date:"MM/dd/yyyy" }}
                                   </ion-label>
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('EndDate','WatchList')">
                                   <ion-label>
                                        {{ currWatchList.EndDate | date:"MM/dd/yyyy" }}
                                   </ion-label>
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Source','WatchList')">
                                   <ion-label>
                                        {{ dataService.getSourceName(currWatchList.WatchListSourceID) }}
                                   </ion-label>
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Season','WatchList')">
                                   <ion-label *ngIf="dataService.getWatchListTypeName(currWatchList.WatchListTypeID) == 'TV'">
                                        {{ currWatchList.Season }}
                                   </ion-label>
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Notes','WatchList')">
                                   <ion-label>
                                        {{ currWatchList['Notes'] }}
                                   </ion-label>
                              </ion-col>
                         </ion-row>                    
                    </ion-grid>
               </ion-item>
          </ion-list>     
     </div>
</ion-content>