<ion-header [translucent]="true" *ngIf="dataService.isLoggedInCheckComplete">
     <ion-toolbar *ngIf="!dataService.isError">
          <ion-buttons slot="start"> 
               <ion-menu-button></ion-menu-button>                
          </ion-buttons>

          <ion-grid>
               <ion-row>
                    <ion-col size="12">
                         <ion-searchbar *ngIf="dataService.isBackendURLSet() && dataService.isLoggedIn"(ionChange)="dataService.searchTermChangeHandler($event)" [disabled]="dataService.isAdding || dataService.isEditing" [(ngModel)]="dataService.searchTerm"></ion-searchbar>
                    </ion-col>
               </ion-row>
          </ion-grid>
     </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataService.isBackendURLSet() && dataService.isLoggedIn">
     <ion-refresher slot="fixed" (ionRefresh)="dataService.pullToRefresh($event,'WatchList')">
          <ion-refresher-content></ion-refresher-content>
     </ion-refresher>

     <ion-grid *ngIf="!dataService.isError && filteredWatchList && filteredWatchList.length > 0">
          <ion-row class="addPanel">
               <ion-col size="6">
                    <ion-icon *ngIf="!dataService.isAdding && !dataService.isEditing" name="add-outline" (click)="addWatchList()"></ion-icon>
               </ion-col>
          </ion-row>
     </ion-grid>

     <div class="ion-list-parent" *ngIf="!dataService.isError && filteredWatchList && filteredWatchList.length > 0">
          <ion-list>
               <!-- Pagination -->
               <ion-item class="pagination" *ngIf="filteredWatchList && filteredWatchList.length > 0" lines="none">
                    <span class="pageSpan" *ngIf="filteredWatchList && filteredWatchList.length > dataService.itemsPerPage">
                         <span class="page nomargin" *ngIf="currentPage > 1" (click)="paginationClickHandler(-1)">Previous</span>

                         <span class="page" [ngClass]="{'active': currentPage === (pageIndex + 1)}" (click)="paginationClickHandler(0,pageIndex + 1)" *ngFor="let number of numSequence(filteredWatchList.length/dataService.itemsPerPage > 1 ? math.round(filteredWatchList.length/dataService.itemsPerPage) +1: 1 );let pageIndex=index">
                              {{ pageIndex + 1 }}
                         </span>

                         <span class="page nomargin" *ngIf="currentPage < filteredWatchList.length/dataService.itemsPerPage" (click)="paginationClickHandler(1)">Next</span>
                    </span>
               </ion-item>

               <ion-grid id="data" *ngIf="!dataService.isMobile">
                    <div>
                         <ion-row>
                              <ion-col size="2" [ngClass]="{'hidden': !isShown(index)}" *ngFor="let currWatchList of filteredWatchList;let index=index">
                                   <div title={{currWatchList.Tooltip}}>
                                        <ion-list>
                                             <ion-item class="narrowHeight">
                                                  <ion-icon *ngFor="let number of numSequence(dataService.ratingMax); let index=index" [name]="getRatingIcon(index, currWatchList)" class="favoritePreview" (click)="ratingClickHandler(index,currWatchList)"></ion-icon>
                                             </ion-item>

                                             <ion-item>
                                                  <img src="{{currWatchList.IMDB_Poster}}" (click)="dataService.openDetailOverlay('watchlist',currWatchList.WatchListID)">
                                             </ion-item>

                                             <ion-item>
                                                  <ion-label (click)="dataService.openDetailOverlay('watchlist',currWatchList.WatchListID)">{{dataService.getWatchListItemName(currWatchList.WatchListItemID)}}</ion-label>
                                             </ion-item>
                                        </ion-list>
                                   </div>
                              </ion-col>
                         </ion-row>
                    </div>
               </ion-grid>

               <ion-list  *ngIf="dataService.isMobile">
                    <div *ngFor="let currWatchList of filteredWatchList;let index=index">
                         <ion-item *ngIf="isShown(index)">
                              <ion-grid>
                                   <ion-row class="ion-align-items-center">
                                        <ion-col size="1">
                                             <ion-label>{{ currWatchList.WatchListID }}</ion-label>
                                        </ion-col>

                                        <ion-col *ngIf="currWatchList.IMDB_Poster !== null" size="1">
                                             <ion-label><img class="poster" src="{{currWatchList.IMDB_Poster}}" (click)="dataService.openDetailOverlay('watchlist',currWatchList.WatchListID)"></ion-label>
                                        </ion-col>

                                        <ion-col size="4">
                                             <ion-label>{{(currWatchList.EndDate === null ? 'Started watching' : 'Watched')}} <br /> <br /> {{ currWatchList.StartDate | date:"MM/dd/yyyy" }}<span *ngIf="currWatchList.EndDate !== null"> - {{currWatchList.EndDate | date:"MM/dd/yyyy"}}</span></ion-label>
                                        </ion-col>

                                        <ion-col size="2">
                                             <ion-label>
                                                  {{ dataService.getSourceName(currWatchList.WatchListSourceID) }}
                                             </ion-label>
                                        </ion-col>

                                        <ion-col size="2">
                                             <ion-label *ngIf="currWatchList.Season !== null">
                                                  Season {{ currWatchList.Season }}
                                             </ion-label>
                                        </ion-col>

                                        <ion-col size="2">
                                             <ion-label *ngIf="currWatchList['Rating'] !== null">
                                                  {{ currWatchList.Rating }} <span>/ {{ dataService.ratingMax }}</span>
                                             </ion-label>
                                        </ion-col>
                                   </ion-row>

                                   <ion-row>
                                        <ion-col size="1"></ion-col>

                                        <ion-col size="11">
                                             <h3 (click)="dataService.openDetailOverlay('watchlist',currWatchList.WatchListID)">{{dataService.getWatchListItemName(currWatchList.WatchListItemID)}}</h3>
                                        </ion-col>
                                   </ion-row>
                              </ion-grid>
                         </ion-item>
                    </div>
               </ion-list>

               <!-- Pagination -->
               <ion-item lines="none">
                    <span class="pageSpan" *ngIf="filteredWatchList && filteredWatchList.length > dataService.itemsPerPage">
                         <span class="page nomargin" *ngIf="currentPage > 1" (click)="paginationClickHandler(-1)">Previous</span>

                         <span class="page" [ngClass]="{'active': currentPage === (pageIndex + 1)}" (click)="paginationClickHandler(0,pageIndex + 1)" *ngFor="let number of numSequence(filteredWatchList.length/dataService.itemsPerPage > 1 ? math.round(filteredWatchList.length/dataService.itemsPerPage) : 1 );let pageIndex=index">
                              {{ pageIndex + 1 }}
                         </span>

                         <span class="page nomargin" *ngIf="currentPage < filteredWatchList.length/dataService.itemsPerPage" (click)="paginationClickHandler(1)">Next</span>
                    </span>
               </ion-item>
          </ion-list>
          
          <div *ngIf="filteredWatchList">{{ filteredWatchList.length }} records</div>
     </div>
</ion-content>