<ion-tabs>
     <ion-tab-bar slot="bottom">
          <ion-tab-button tab="watchlist">
               <!-- <ion-icon name="triangle"></ion-icon> -->
               <ion-label>Watchlist</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="watchlist-items">
               <!-- <ion-icon name="ellipse"></ion-icon> -->
               <ion-label>Manage Watchlist Items</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="watchlist-stats">
               <!-- <ion-icon name="ellipse"></ion-icon> -->
               <ion-label>Watchlist Stats</ion-label>
          </ion-tab-button>
       </ion-tab-bar>
</ion-tabs>
