<ion-tabs>
     <ion-tab-bar *ngIf="!dataService.isError" slot="bottom">
          <!--<ion-tab-button tab="login" *ngIf="!dataService.isLoggedIn">
               <ion-label>Login</ion-label>
          </ion-tab-button>-->

          <ion-tab-button tab="watchlist" *ngIf="dataService.isLoggedIn">
               <!-- <ion-icon name="triangle"></ion-icon> -->
               <ion-label>Watchlist</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="watchlist-items" *ngIf="dataService.isLoggedIn">
               <!-- <ion-icon name="ellipse"></ion-icon> -->
               <ion-label>Watchlist Items</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="watchlist-queue" *ngIf="dataService.isLoggedIn">
               <!-- <ion-icon name="ellipse"></ion-icon> -->
               <ion-label>Watchlist Queue</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="imdb-search" *ngIf="dataService.isIMDBSearchEnabled && dataService.isLoggedIn">
               <!-- <ion-icon name="ellipse"></ion-icon> -->
               <ion-label>IMDB Search</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="watchlist-stats" *ngIf="dataService.isLoggedIn">
               <!-- <ion-icon name="ellipse"></ion-icon> -->
               <ion-label>Watchlist Stats</ion-label>
          </ion-tab-button>
       </ion-tab-bar>
</ion-tabs>
