<ion-header [translucent]="true">
     <ion-toolbar>
          <ion-buttons slot="start"> 
               <ion-menu-button></ion-menu-button>                
          </ion-buttons>            
          
          <ion-grid>
               <ion-row>
                    <ion-col size="12">
                         <ion-searchbar *ngIf="dataService.isBackendURLSet() && dataService.isLoggedIn"(ionChange)="dataService.searchTermChangeHandler($event)" [disabled]="dataService.isAdding || dataService.isEditing" [(ngModel)]="dataService.searchTerm"></ion-searchbar>
                    </ion-col>
               </ion-row>
          </ion-grid>
     </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataService.isBackendURLSet() && dataService.isLoggedIn">
     <ion-refresher slot="fixed" (ionRefresh)="dataService.pullToRefresh($event,'WatchListQueueItems')">
          <ion-refresher-content></ion-refresher-content>
     </ion-refresher>
    
     <ion-grid>
          <ion-row>
               <ion-col size="1">
                    <ion-icon *ngIf="!dataService.isAdding && !dataService.isEditing" class="addWatchListQueue" name="add-outline" (click)="this.dataService.openDetailOverlay('watchlist-queue')"></ion-icon>
               </ion-col>               
          </ion-row>
     </ion-grid>

     <div class="ion-list-parent">
          <ion-grid id="data" *ngIf="!dataService.isMobile">
               <div>
                    <ion-row>
                         <ion-col size="2" [ngClass]="{'hidden': !isShown(index)}" *ngFor="let currWatchListQueue of filteredWatchListQueueItems;let index=index">
                              <div title={{currWatchListQueue.Tooltip}}>
                                   <ion-list>
                                        <ion-item class="narrowHeight"> <!-- here to make look consistent with WL -->
                                        </ion-item>

                                        <ion-item>
                                             <img src="{{currWatchListQueue.IMDB_Poster}}" (click)="dataService.openDetailOverlay('watchlist-queue',currWatchListQueue.WatchListQueueItemID)">
                                        </ion-item>
     
                                        <ion-item>
                                             <ion-label (click)="dataService.openDetailOverlay('watchlist-queue',currWatchListQueue.WatchListQueueItemID)">{{currWatchListQueue.WatchListItemName}}</ion-label>
                                        </ion-item>
                                   </ion-list>
                              </div>
                         </ion-col>
                    </ion-row>
               </div>
          </ion-grid>

          <ion-list *ngIf="dataService.isMobile">
               <div *ngFor="let currWatchListQueue of dataService.watchListQueue;let index=index">
                    <ion-item>
                         <ion-grid>
                              <ion-row class="ion-align-items-center">
                                   <ion-col size="1">
                                        <ion-label>{{ currWatchListQueue.WatchListQueueItemID }}</ion-label>
                                   </ion-col>

                                   <ion-col [size]="this.dataService.getColumnSize('Name','WatchListQueueItems')" class="nameColumn">
                                        <img *ngIf="currWatchListQueue.IMDB_Poster !== null" class="poster" src="{{currWatchListQueue.IMDB_Poster}}" (click)="this.dataService.openDetailOverlay('watchlist-queue',currWatchListQueue.WatchListQueueItemID)">
                                   </ion-col>

                                   <ion-col [size]="this.dataService.getColumnSize('Notes','WatchListQueueItems')">
                                        <ion-label>{{ currWatchListQueue.Notes }}</ion-label>
                                   </ion-col>
                              </ion-row>

                              <ion-row>
                                   <ion-col size="1"></ion-col>

                                   <ion-col>
                                        <h3 (click)="this.dataService.openDetailOverlay('watchlist-queue',currWatchListQueue.WatchListQueueItemID)">{{ currWatchListQueue.WatchListItemName }}</h3>
                                   </ion-col>
                              </ion-row>
                         </ion-grid>
                    </ion-item>
               </div>
          </ion-list>
     </div>
</ion-content>