.actionColumn {
    display: inline-flex;
}

.detailLink {
    cursor: pointer;
    text-decoration: underline;
}

.editSave {
    margin-right: 10px;
}

.ion-list-parent {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.IDColumn, .nameColumn {
    margin-top: 8px;
}

.poster {
    cursor: pointer;
    max-height: 125px;
}

.poster:hover {
    max-height: 250px;
}

ion-content {
    overflow: auto;
}

ion-grid > ion-row > ion-col > ion-icon.nameArrowIcon, 
ion-grid > ion-row > ion-col > ion-icon.IDArrowIcon {
     width: 50px;
     position: relative;
     vertical-align: bottom;
}

ion-grid > ion-row > ion-col > ion-icon.active {
    color: darkblue
}

ion-icon {
    width: 45px !important;
    height: 45px !important;
}

ion-input {
    border-style: dashed;
    border-width: 1px;
}

ion-label {
    margin-top: 10px;
}

ion-list.md.list-md {
    min-width: 1000px;
    overflow: auto;
}

ion-content {
    ion-item {
      pointer-events: auto;
    }
}