.navBar {
    border: 1px solid lightgray;
    box-sizing: border-box;
    height: 35px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.navBar.lastPage {
    position: relative;
    bottom: 0;
}

span.bottom {
    bottom: 56px;
    position: sticky;
}

span.bottom.noTabs {
    bottom: 0px !important;
}

span.top {
    top: 59px;
    position: sticky;
    z-index: 99;
}

.arrow {
    font-size: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    margin-left: auto; 
}

.navBar.noTabs {
    bottom: 0px !important;
}