#backendURL {
    margin-top: 25px;
}

#authKeyInput {
    border-style: dashed;
    border-width: 1px;
}

#backendURLInput {
     border-style: dashed;
     border-width: 1px;
}

#rowsLabel {
    margin-top: 10px;
}

#rowsLabel ion-label {
    margin-left: 17px;
}