:root {
     --light-mode-foregroundColor: black;
     --light-mode-backgroundColor: white;
     --dark-mode-foregroundColor: white;
     --dark-mode-backgroundColor: black;
}

@media only screen and (min-width: 992px) {
     .searchIcon {
          margin-left: auto !important;
     }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
     .inputStyle {
          max-width: 200px !important;
     }
}


@media only screen and (max-width: 600px) {
     .column {
          margin-right: unset !important;
     }

     .customTopMargin {
          position: relative;
          top: 12px !important;
     }

     .displayInline {
          display: unset !important;
     }

     .navBar {
          width: 103% !important;
     }

     .rating {
          display: none;
     }

     .ratingAlt {
          display: inline-flex !important;
     }

     .favoriteIcon {
          max-width: 15px !important;
          max-height: 15px !important;
     }

     .stillWatching {
          min-width: 110px;
     }
}

@media only screen and (max-width: 768px) {
     .show-list {
          position: relative;
          left: -20px;
     }

     .show-item {
          width: 150px !important;
          margin-right: 25px !important;
     }
}

html.no-pull-to-refresh {
     overflow: hidden;
     overscroll-behavior: none;
}

body {
     position: relative;
     left: -5px;
}

#multiselectContainerReact.lightMode .optionListContainer {
     color: var(--light-mode-foregroundColor) !important;
     background-color: var(--light-mode-backgroundColor) !important;
}


#multiselectContainerReact.darkMode .optionContainer {
     color: var(--dark-mode-foregroundColor) !important;
     background-color: var(--dark-mode-backgroundColor) !important;
}

input:checked+.slider {
     background-color: #2196f3;
}

input:focus+.slider {
     box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
}

table.simpleTable {
     width: fit-content;
     margin: 20px 0;
     font-family: Arial, sans-serif;
     border: 1px solid black;
     border-collapse: collapse;
     border-radius: 8px;
}

/* This prevents the last buglog from being cut off due to the bottom nav bar */
table.simpleTable:last-child {
     margin-bottom: 120px !important;
}

#wl_autocomplete {
     margin-bottom: 5px;
     min-width: 300px;
     max-width: 350px;
}

.addSearchResultIcon {
     margin-top: 35px;
}

.arrowIcon {
     float: left;
     margin-left: 10px;
     position: relative;
     top: -12px;
     z-index: 999;
}

.borderRadius15 {
     border-radius: 15px;
}

.bottomMargin20 {
     margin-bottom: 20px;
}

.bottomMargin75 {
     margin-bottom: 100px;
}

.brokenImage,
.image-crop svg,
.editSaveCancelPanel .brokenImage {
     width: 128px !important;
     height: 187px !important;
}

.cancelIcon {
     display: flex;
     float: right;
     transform: scale(1.8) !important;
}

.cancelPassword {
     margin-left: 10% !important;
}

.card {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     height: 40px;
     width: 100px;
     margin-bottom: 10px;
}

.cards {
     display: grid;
     width: 600px;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.changePassword {
     margin-left: 10% !important;
}

.clickable {
     cursor: pointer !important;
     pointer-events: auto !important;
}

.closeButton {
     display: flex;
     float: right;
     transform: scale(2.1) !important;
}

.closeButtonAdjustment {
     position: relative;
     top: -24px !important;
}

.column {
     margin-right: 75px;
}

.container {
     justify-content: center;
}

.customCloseButton {
     position: relative;
     left: -20px;
     top: 15px;
}

.customBackgroundColor {
     background-color: rgba(0, 0, 0, 0.8);
}

.customBorderRadius {
     border-radius: 15px;
}

.customLeftMargin {
     margin-left: 7px;
}

.customModalHeight {
     min-height: 60px !important;
}

.customTopMargin {
     position: relative;
     top: 10px !important;
}

.customWidth {
     min-width: 100% !important;
     height: 30px;
}

.darkMode {
     color: var(--dark-mode-foregroundColor) !important;
     background-color: var(--dark-mode-backgroundColor) !important;
}

.displayInline {
     display: inline-block;
}

.editsaveCancelButton {
     display: inline-flex;
     transform: scale(1.6);
     top: -8px;
}

.error {
     color: rgb(211, 47, 47);
}

.fa {
     box-sizing: border-box;
     display: none;
     width: 42.5px;
     height: 43.5px;
     position: relative;
     text-align: end;
     ;
     top: 50;
     right: 0;
     border-radius: 50%;
     color: #07051a;
     font-size: 1.2em;
}

.fade-in {
     animation: fadeInAnimation 0.5s linear;
}

.fade-out {
     animation: fadeOutAnimation 0s linear;
}

.firstItem {
     display: inline-flex;
     min-width: 100px;
}

.flex {
     display: flex;
}

.fullWidthInput {
     min-width: 300px;
}

.fullWidth {
     width: 100%;
}

.fontStyle {
     font-family: "Brush Script MT", cursive !important;
}

.hyperlink {
     color: blue;
}

.icon {
     cursor: pointer;
     transform: scale(1.8) !important;
}

.iconLarge {
     cursor: pointer;
     transform: scale(2.0) !important;
     display: inline-block;
     width: 1em;
     position: relative;
     top: 5px;
     margin-right: 50px;
}

.iconLarge:last-of-type {
     margin-right: 25px;
}

.image-crop img {
     border-radius: 15px;
     width: 80%;
     text-align: center;
     margin-right: 10px;
}

.imdbCard {
     width: 100%;
}


.inlineFlex {
     display: inline-flex;
}

.inputStyle {
     border-radius: 22px;
     font-family: "Pt Sans", helvetica, sans-serif;
     line-height: 1.6em;
     font-size: 1em;
     width: 1000px !important;
     z-index: 9999;
}

.item {
     display: inline-flex;
     position: relative;
     top: 9%;
     vertical-align: top;
}

.item-id {
     text-align: center;
}

.labelWidth {
     width: fit-content;
     position: relative;
     top: -5px;
     z-index: 999;
}

.largeText {
     font-size: 36px;
}

.leftMargin {
     margin-left: 25px;
}

.leftMargin40 {
     margin-left: 40px;
}

.leftMargin50 {
     margin-left: 50px;
}

.leftMargin60 {
     margin-left: 60px;
}

.leftMargin75 {
     margin-left: 75px;
}

.lightMode {
     color: var(--light-mode-foregroundColor) !important;
     background-color: var(--light-mode-backgroundColor) !important;
}

.lineChart {
     max-width: min-content;
     border-width: 1px;
     border-style: solid;
}

.linkStyle {
     text-decoration: none !important;
}

.loader-container {
     width: 200px;
     height: 1vh;
     position: fixed;
     margin-top: 50px;
     z-index: 1;
}

.marqueeText {
     margin: 0 auto;
     white-space: nowrap;
     overflow: scroll;
     max-width: 200px;
}

.maxWidth {
     min-width: 50%;
}

.menuBar {
     align-items: center;
     border-radius: 15px;
     border-width: 1px;
     border-style: solid;
     display: inline-flex;
     min-height: 56px;
     width: 99.04%;
     overflow: scroll;
     scrollbar-width: none;
     position: fixed;
     top: 0px;
     left: -5;
     margin-left: 8px;
     z-index: 999;
}

.menuBar.demoNotificationVisible {
     top: 50px;
}

.menuBar .lightMode {
     border-color: var(--light-mode-foregroundColor);
}

.menuBar .darkMode {
     border-color: var(--dark-mode-foregroundColor) !important;
}

.menuBarActive {
     width: fit-content;
}

.menuBarActive ul {
     display: flex;
     flex-direction: column;
     list-style-type: none;
     position: relative;
     left: -27px;
}

.menuBarActive ul li {
     margin-top: 20px;
}

.menuBarActive ul li span {
     float: left;
     width: 120px;
}

.menuBarActive .row {
     margin-bottom: 20px;
}

.menuBarActiveRoute {
     font-size: 2.5em;
     font-weight: bold;
}

.menuContent {
     list-style-type: none
}

.metaDataFilterButtons {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     width: 100%;
}

.minWidth105 {
     min-width: 105px !important;
}

.minWidth150 {
     min-width: 150px !important;
}

.modal {
     height: 100%;
     left: 0;
     overflow: auto;
     padding-top: 100px;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 999;
}

.modal.scrollable {
     overflow: hidden !important;
     justify-content: center;
     align-items: center;
}

.modal-content {
     border: 1px solid #888;
     border-radius: 20px;
     margin: auto;
     padding: 20px;
     width: fit-content;
     min-height: 225px;
     min-width: 150px;
}

.modal-content.scrollable {
     overflow-y: auto;
     max-height: 80vh;
}

.narrow {
     height: 30px;
}

.narrowWidth {
     width: 60px;
}

.no-border {
     border: none !important;
     width: unset !important;
}

.no-font {
     font-family: none !important;
}

.no-width {
     width: unset;
}

.noBulletPoints {
     list-style-type: none;
}

.options {
     margin-left: auto;
     margin-right: 15px;
     margin-top: 5px;
}

.options .searchIcon {
     margin-right: 35px;
}

.overflowX {
     overflow-x: scroll;
}

.overflowY {
     overflow-y: scroll;
}

.poster-detail {
     max-height: 500px;
     max-width: 175px;
     position: relative;
     top: 80px;
     margin-top: 50px;
}

.primary {
     color: rgb(25, 118, 210)
}

.rightAligned {
     display: block;
     margin-left: auto;
     margin-right: 0;
}

.rightMargin {
     margin-right: 50px;
}

.row {
     display: inline-flex;
     left: -50px;
}

.saveIcon {
     position: relative;
     top: -5px;
     transform: scale(1.8);
}

.scrollableText {
     height: 20px;
     scroll-behavior: smooth;
     overflow-x: auto;
     white-space: nowrap;
     padding-bottom: 10px;
}

.searchContainer {
     display: inline-flex;
     position: relative;
     top: 65%;
     left: 50%;
     transform: translate(-50%, -50%);
     transition: all 1s;
     min-width: 400px !important;
}

.searchContainer:hover,
.searchContainer:valid {
     min-width: 300px;
     cursor: pointer;
}

.searchContainer:hover input,
.searchContainer:valid input {
     display: block;
}

.searchHeader {
     border-radius: 15px;
}


.searchIcon {
     position: relative;
     top: 4px;
     left: 155%;
     z-index: 9999;
}

.searchIcon.darkMode>svg {
     color: black !important;
     background-color: white !important;
     border-top-right-radius: 10px !important;
     border-bottom-right-radius: 10px !important;
}

.searchIcon.lightMode>svg {
     background-color: white !important;
     border-top-right-radius: 10px !important;
     border-bottom-right-radius: 10px !important;
}

.searchInput {
     position: relative;
     top: 0.1px;
     left: 0;
     width: 102%;
     height: 48px;
     line-height: 30px;
     font-size: 1em;
     border-radius: 25px;
     padding: 0 20px;
}

/* The IMDB search input has type="search" that shows an x to clear the search input. This moves it up so its more centered */
.searchInput::-webkit-search-cancel-button {
     position: relative;
     top: -20px;
}

.searchInputStyle,
.searchButton {
     display: none !important;
}

.searchInputStyle.visible,
.searchButton.visible {
     display: block !important;
     animation: fadeInAnimation 2s linear;
}

.searchLabel {
     font-family: Arial Black;
     position: relative;
     top: 6px;
}

.searchMarginTop {
     position: relative;
     margin-top: 5px;
}

.searchResult {
     display: flex;
     margin-bottom: 15px;
}

.searchResultPoster {
     border-color: white;
}

.selectStyle {
     max-width: 250px;
     height: 30px;
     border: 1px solid #999;
     font-size: 18px;
     color: #1c87c9;
     background-color: #eee;
     border-radius: 5px;
}

.selectStyle .editing {
     max-width: 270px !important;
     display: none;
}

.show-date {
     height: auto;
     /* Let it grow based on content */
     margin-bottom: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
     white-space: normal;
     /* Allow line breaks */
     text-align: center;
     /* Center the multiline content */
     flex-direction: column;
     /* Stack the lines vertically */
     line-height: 1.4;
}

.show-item {
     border-style: dashed;
     border-radius: 15px;
     border-width: 1px;
     font-family: "Brush Script MT", cursive;
     margin-bottom: 45px;
     margin-right: 55px;
     overflow: hidden;
     text-align: center;
     vertical-align: top;
     list-style: none;
     width: 175px;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.show-link {
     text-align: center;
}

.show-list {
     border-radius: 15px;
     display: flex;
     flex-wrap: wrap;
     text-align: left;
     margin-bottom: 150px;
}

.show-list.noTabs {
     margin-bottom: 75px !important;
}

.show-season {
     height: 25px;
     /* Unified height for alignment */
     display: flex;
     align-items: center;
     justify-content: center;
}

.show-type,
.show-source {
     height: 25px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.show-title {
     display: inline-flex;
     word-wrap: break-word;
     min-height: 40px;
     /* Adjusted */
     max-height: 50px;
     line-height: 1.2;
     overflow: hidden;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 0 5px;
}

.simpleTable th {
     padding: 12px;
     text-align: left;
     font-size: 16px;
     border: 1px solid #ddd;
     border-collapse: collapse;
}

.simpleTable td {
     padding: 12px;
     text-align: left;
     border-bottom: 1px solid #ddd;
     font-size: 14px;
     border: 1px solid #ddd;
}

.simpleTable td:first-child {
     font-weight: bold;
}

.slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: 0.4s;
     transition: 0.4s;
}

.slider:before {
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: 0.4s;
     transition: 0.4s;
}

/* Rounded sliders */
.slider.round {
     border-radius: 34px;
     width: 60px;
}

.slider.round:before {
     border-radius: 50%;
}

.small-text {
     font-size: small;
     margin-top: 15%;
}

.sticky {
     position: sticky;
     top: 0;
}

.sortBy {
     margin-right: 15px;
}

.spinner {
     width: 64px;
     height: 64px;
     border: 8px solid;
     border-color: #3d5af1 transparent #3d5af1 transparent;
     border-radius: 50%;
     animation: spin-anim 1.2s linear infinite;
}

.spinner-close {
     top: -120px;
}

.spinner-custom {
     margin-left: 45%;
     position: relative;
     min-height: 150px !important;
     z-index: 9999 !important;
}

.spinner-label {
     font-size: 26px;
}

.switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
}

.switch input {
     opacity: 0;
     width: 0;
     height: 0;
}

.textLabel {
     font-weight: bold;
     word-wrap: break-word;
     overflow-wrap: break-word;
}

.topMargin {
     margin-top: 25px !important;
}

.topMargin15 {
     margin-top: 15px !important;
}

.topMargin55 {
     margin-top: 50px !important;
}

.topMargin100 {
     margin-top: 100px !important;
}

.topMarginContent {
     position: relative;
     top: 65px !important;
     overflow-y: auto;
     height: 100vh;
}

.unsetcardwidth {
     width: unset !important;
}

.width50 {
     width: 50px;
}

.width75 {
     width: 75px;
}

.width125 {
     width: 125px;
}

.wordWrapLabel {
     display: inline-flex;
     max-width: 105px;
}

.zIndex {
     z-index: 999 !important;
}


@keyframes bouncing-loader {
     0% {
          transform: translateY(0);
     }

     100% {
          opacity: 0.1;
          transform: translateY(-10px);
     }
}

.bouncing-loader>div:nth-child(2) {
     animation-delay: 0.2s;
}

.bouncing-loader>div:nth-child(3) {
     animation-delay: 0.4s;
}

.bouncing-loader {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     font-size: 10vw;
     gap: 10px;
}

.bouncing-loader>div {
     width: 50px;
     height: 50px;
     margin: 3px 6px;
     border-radius: 50%;
     background-color: #a3a1a1;
     opacity: 1;
     display: inline-flex;
     animation: bouncing-loader 0.6s infinite alternate;
}

.bubble {
     width: 20px;
     height: 20px;
     background-color: #000;
     border-radius: 50%;
     animation: bounce 1.5s infinite alternate;
}

.bouncing-loader-text {
     position: relative;
     top: -10px;
     z-index: 1;
}

@keyframes fadeInAnimation {
     0% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}

@keyframes fadeOutAnimation {
     100% {
          opacity: 1;
     }

     0% {
          opacity: 0;
     }
}

@keyframes spin-anim {
     0% {
          transform: rotate(0deg);
     }

     100% {
          transform: rotate(360deg);
     }
}

.menu-bar-notification {
     background-color: #FFA07A !important;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 40px;
     background-color: #FFA07A;
     border-radius: 10px;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 18px;
     font-weight: bold;
     z-index: 2000;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Close button inside the notification */
.menu-notification-close {
     position: absolute;
     right: 20px;
     top: 50%;
     transform: translateY(-50%);
     background: transparent;
     border: none;
     color: #fff;
     font-size: 24px;
     cursor: pointer;
}