.detailLink {
     cursor: pointer;
     text-decoration: underline;
}

.ion-list-parent {
     width: 100%;
     overflow: auto;
}

ion-card {
     display: flex;
     width: 100%;
}

ion-content {
     overflow: auto;
}

ion-icon {
     width: 45px;
     height: 45px;
     cursor: pointer;
}

ion-label {
     margin-top: 10px;
}
.page {
     cursor: pointer;
     padding-left: 5px;
     padding-right: 5px;
     border: 1px solid #ddd;
     color: black;
     float: left;
     padding: 8px 16px;
     text-decoration: none;
     overflow-x: visible;
}

.pageSelect {
     width: 65px;
}

.item-inner {
     border-style: hidden;
}

.page:first-child {
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
   }
   
.page:last-child {
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
}

.page.active {
    background-color: #4285f4;
    color: white;
}

.pageSpan {
     display: flex;
     overflow: scroll;
     width: fit-content;
     border-style: dashed;
     border-width: 1px;
}

.nomargin {
     margin-left: 0px;
     margin-right: 0px;
}

ion-list.md.list-md {
     min-width: 1000px;
     overflow: scroll;
}

ion-grid > ion-row > ion-col > ion-icon.IDArrowIcon, 
ion-grid > ion-row > ion-col > ion-icon.NameArrowIcon,
ion-grid > ion-row > ion-col > ion-icon.TypeArrowIcon,
ion-grid > ion-row > ion-col > ion-icon.IMDBURLArrowIcon {
     width: 50px;
     position: relative;
     vertical-align: bottom;
}

ion-grid > ion-row > ion-col > ion-icon.active {
     color: #30A199;
}

ion-item > ion-grid > ion-row > ion-col > ion-label {
     word-break: break-all;
     overflow-wrap: break-word;
     word-wrap: break-word;
     hyphens: auto;
     overflow: auto;
}