<ion-header [translucent]="true">
     <ion-toolbar>
          <ion-buttons slot="start"> 
               <ion-menu-button></ion-menu-button>                
          </ion-buttons>
          
          <ion-title>WatchList Items</ion-title>
     </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataService.isBackendURLSet() && dataService.isAuthKeySet()">
     <ion-refresher slot="fixed" (ionRefresh)="dataService.pullToRefresh($event,'WatchListItems')">
          <ion-refresher-content></ion-refresher-content>
     </ion-refresher>
     
     <ion-grid>
          <ion-row>
               <ion-col size="1">
                    <ion-icon *ngIf="!dataService.isAdding && !dataService.isEditing" class="addWatchListItem" name="add-outline" (click)="addWatchListItem()"></ion-icon>
               </ion-col>
          </ion-row>
     </ion-grid>
     
     <div class="ion-list-parent">
          <ion-list>
               <ion-item> <!-- Table headers -->
                    <ion-grid>
                         <ion-row>
                              <ion-col [size]="this.dataService.getColumnSize('ID','WatchListItems')">
                                   <ion-label>ID</ion-label>
                                   <!--<ion-icon *ngIf="dataService.watchListItemsSortDirection =='ASC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListItemsSortActiveColumn === 'ID' ? 'upArrow IDArrowIcon active' : 'upArrow IDArrowIcon'" name="caret-up-outline" (click)="dataService.sortClick('ID','ASC','WatchListItems')"></ion-icon><ion-icon *ngIf="dataService.watchListItemsSortDirection =='DESC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListItemsSortActiveColumn === 'ID' ? 'downArrow IDArrowIcon active' : 'downArrow IDArrowIcon'" name="caret-down-outline" (click)="dataService.sortClick('ID','DESC','WatchListItems')"></ion-icon>-->
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Name','WatchListItems')">
                                   <ion-label class="NameLabel">Name</ion-label><!--<ion-icon *ngIf="dataService.watchListItemsSortDirection =='ASC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListItemsSortActiveColumn === 'Name' ? 'upArrow NameArrowIcon active' : 'upArrow NameArrowIcon'" name="caret-up-outline" (click)="dataService.sortClick('Name','ASC','WatchListItems')"></ion-icon><ion-icon *ngIf="dataService.watchListItemsSortDirection =='DESC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListItemsSortActiveColumn === 'Name' ? 'downArrow NameArrowIcon active' : 'downArrow NameArrowIcon'" name="caret-down-outline" (click)="dataService.sortClick('Name','DESC','WatchListItems')"></ion-icon>-->
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Type','WatchListItems')">
                                   <ion-label>Type</ion-label><!--<ion-icon *ngIf="dataService.watchListItemsSortDirection =='ASC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListItemsSortActiveColumn === 'Type' ? 'upArrow TypeArrowIcon active' : 'upArrow TypeArrowIcon'" name="caret-up-outline" (click)="dataService.sortClick('Type','ASC','WatchListItems')"></ion-icon><ion-icon *ngIf="dataService.watchListItemsSortDirection =='DESC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListItemsSortActiveColumn === 'Type' ? 'downArrow TypeArrowIcon active' : 'downArrow TypeArrowIcon'" name="caret-down-outline" (click)="dataService.sortClick('Type','DESC','WatchListItems')"></ion-icon>-->
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('IMDBURL','WatchListItems')">
                                   <ion-label>IMDB URL</ion-label><!--<ion-icon *ngIf="dataService.watchListItemsSortDirection =='ASC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListItemsSortActiveColumn === 'IMDB_URL' ? 'upArrow IMDBURLArrowIcon active' : 'upArrow IMDBURLArrowIcon'" name="caret-up-outline" (click)="dataService.sortClick('IMDB_URL','ASC','WatchListItems')"></ion-icon><ion-icon *ngIf="dataService.watchListItemsSortDirection =='DESC' && !dataService.isAdding && !dataService.isEditing" [ngClass]="dataService.watchListItemsSortActiveColumn === 'IMDB_URL' ? 'downArrow IMDBURLArrowIcon active' : 'downArrow IMDBURLArrowIcon'" name="caret-down-outline" (click)="dataService.sortClick('IMDB_URL','DESC','WatchListItems')"></ion-icon>-->
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Notes','WatchListItems')">
                                   <ion-label>Notes</ion-label>
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Action','WatchListItems')">
                                   <ion-label></ion-label>
                              </ion-col>
                         </ion-row>
                    </ion-grid>               
               </ion-item>

               <ion-item *ngFor="let currWatchListItem of dataService.watchListItems">
                    <ion-grid>
                         <ion-row>
                              <ion-col [size]="this.dataService.getColumnSize('ID','WatchListItems')">
                                   <ion-label><a class="detailLink" (click)="this.dataService.openDetailOverlay('watchlist-items',currWatchListItem.WatchListItemID)">{{ currWatchListItem.WatchListItemID }}</a></ion-label>
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Name','WatchListItems')">
                                   <ion-label className="WatchListItemName">
                                        {{ currWatchListItem.WatchListItemName }}
                                   </ion-label>
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Type','WatchListItems')">
                                   <ion-label>{{ dataService.getWatchListTypeName(currWatchListItem.WatchListTypeID) }}</ion-label>
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('IMDBURL','WatchListItems')">
                                   <ion-label>
                                        <a *ngIf="currWatchListItem.IMDB_URL != null" href="{{ currWatchListItem.IMDB_URL }}" target="_blank">{{ currWatchListItem.IMDB_URL }}</a>
                                   </ion-label>
                              </ion-col>

                              <ion-col [size]="this.dataService.getColumnSize('Notes','WatchListItems')">
                                   <ion-label>{{ currWatchListItem.Notes }}</ion-label>
                              </ion-col>
                         </ion-row>                    
                    </ion-grid>                   
               </ion-item>
          </ion-list>
     </div>
</ion-content>