.cancelPassword {
     margin-left: 10% !important;
}

.changePassword {
     margin-left: 10% !important;
}

.dialogActions {
     display: inline-block !important;
}

table {
     width: 100%;
     margin: 20px 0;
     font-family: Arial, sans-serif;
     background-color: #f9f9f9;
     border: 1px solid black;
     border-collapse: collapse;
     border-radius: 8px;
}
 
th {
     padding: 12px;
     text-align: left;
     font-size: 16px;
     border: 1px solid #ddd;
     border-collapse: collapse;
}
 
td {
     padding: 12px;
     text-align: left;
     border-bottom: 1px solid #ddd;
     font-size: 14px;
     border: 1px solid #ddd;
}
 
td:first-child {
     font-weight: bold;
} 