.input-group {
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 15px;
}

ion-content {
	--padding-top: 15%;
	--padding-start: 10%;
	--padding-end: 10%;
	--background: url('/assets/background.png')
		0 0/100% 100% no-repeat;
}

ion-title {
     font-size: medium;
}

ion-toolbar {
    text-align: center;
}