#login {
    --background: lightblue;
    overflow: auto;
}

.ion-list-parent {
    //width: 100%;
    margin-left: 30%;
    max-width: 40%;
    height: 100%;
    overflow: auto;
}

ion-list.md.list-md {
    overflow: auto;
}

ion-toolbar {
    margin-left: 30%;
    margin-top: 10%;
    max-width: 40%;
}