<ion-header>
     <ion-toolbar color="primary" >
          <ion-title (click)="loginClickCountHandler()">WatchList</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content id="login" *ngIf="!dataService.isError && dataService.isLoggedInCheckComplete">
    <form (ngSubmit)="login()">
          <div class="input-group">
               <ion-item>
                    <ion-input class="inputField" name="username" type="text" [(ngModel)]="username" [value]="username" placeholder="Username" required (keyup.enter)="login()"></ion-input>
               </ion-item>
          </div>

          <div class="input-group">
               <ion-item lines="full">
                    <ion-input class="inputField" name="password" type="password" [(ngModel)]="password" [value]="password" placeholder="Password" required (keyup.enter)="login()"></ion-input>
               </ion-item>
          </div>

          <div class="input-group">
               <ion-item lines="full" *ngIf="backendURLVisible">
                    <ion-input class="inputField" name="backendURL" type="text" [(ngModel)]="backendURL" [value]="backendURL" placeholder="Backend URL" required (keyup.enter)="login()"></ion-input>
               </ion-item>
          </div>

          <ion-button type="submit" expand="block" (click)="login()">Sign In</ion-button>
    </form>

    <!--<div class="ion-list-parent">
          <ion-list>
               <ion-item lines="full">
                    <ion-label position="floating">Username</ion-label>
                    <ion-input type="text" [(ngModel)]="username" [value]="username" required (keyup.enter)="login()"></ion-input>
               </ion-item>

               <ion-item lines="full">
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" [(ngModel)]="password" [value]="password" required (keyup.enter)="login()"></ion-input>
               </ion-item>

               <ion-item *ngIf="backendURLVisible" lines="full">
                    <ion-label position="floating">Backend URL</ion-label>
                    <ion-input type="text" [(ngModel)]="backendURL" [value]="backendURL" required (keyup.enter)="login()"></ion-input>
               </ion-item>
     
               <ion-button color="primary" expand="block" (click)="login()">Sign In</ion-button>
          </ion-list>
     </div>-->
</ion-content>