.ion-list-parent {
     width: 100%;
     overflow: auto;
}

ion-card {
     display: flex;
     width: 100%;
}

ion-content {
     overflow: auto;
}

ion-icon {
     width: 24px;
     height: 24px;
}

ion-input {
     border-style: dashed;
     border-width: 1px;
}

ion-label {
     margin-top: 10px;
}

ion-list.md.list-md {
     min-width: 1000px;
     max-height: 500px;
     overflow: auto;
}

ion-select {
     border-style: dashed;
     border-width: 1px;
     max-width: 100%;
}

ion-col.IDColumn {
     display: inline-flex;
     max-width: 105px !important;
}

ion-col.nameLabelColumn {
     display: inline-flex;
}

ion-col.nameLabelMobileColumn {
     display: inline-flex;
     min-width: 150px;
}

ion-col.nameDataMobileColumn {
     display: inline-flex;
     min-width: 150px;
}

ion-col.dateLabelColumn {
     display: inline-flex;
}

ion-col.dateLabelMobileColumn {
     display: inline-flex;
     min-width: 110px;
}

ion-col.dateDataMobileColumn {
     min-width: 110px;
}

ion-col.notesLabelMobileColumn {
     width: 200px !important;
     max-width: 200px !important;
}

ion-col.notesDataMobileColumn {
     width: 200px !important;
     max-width: 200px !important;
}

ion-grid > ion-row > ion-col > ion-icon {
     width: 35px;
     height: 35px;
}

ion-grid > ion-row > ion-col > ion-label.startDateLabel {
     max-width: 75px;
}

ion-grid > ion-row > ion-col > ion-icon.nameArrowIcon, 
ion-grid > ion-row > ion-col > ion-icon.IDArrowIcon, 
ion-grid > ion-row > ion-col > ion-icon.startDateArrowIcon,
ion-grid > ion-row > ion-col > ion-icon.endDateArrowIcon,
ion-grid > ion-row > ion-col > ion-icon.sourceArrowIcon {
     width: 50px;
     position: relative;
     vertical-align: bottom;
}

ion-grid > ion-row > ion-col > ion-icon.active {
     color: darkblue
}

.actionColumn {
     display: inline-flex;
}

.addWatchList {
     width: 45px !important;
     height: 45px !important;
}

.sourceLabelMobileColumn {
     display: inline-flex;
}

.sourceLabelColumn {
     display: inline-flex;
}