<ion-header [translucent]="true">
    <ion-toolbar>
         <ion-title>WatchList Stats</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataService.isBackendURLSet() && dataService.isAuthKeySet()">
     <div class="content-parent">
     <h2>Top 10 most frequently watched Movies</h2>

     <ion-list *ngFor="let currentMovie of watchListMovieStats">
          <ion-item>
               <ion-grid>
                    <ion-row>
                         <ion-col size="6" class="first">
                              <ion-label *ngIf="currentMovie['IMDB_URL'] == null">"{{ currentMovie['WatchListItemName'] }}"</ion-label>
                              <a *ngIf="currentMovie['IMDB_URL'] != null" [href]="currentMovie['IMDB_URL']" target="_blank">{{ currentMovie['WatchListItemName'] }}</a>&nbsp;
                         </ion-col>

                         <ion-col size="3" class="second">
                              <ion-label>watched</ion-label>
                         </ion-col>
          
                         <ion-col size="3" class="third">
                              {{ currentMovie['ItemCount'] }} time(s)
                         </ion-col>
                    </ion-row>
               </ion-grid>
          </ion-item>
     </ion-list>

     <h2>Top 10 most frequently watched TV Shows</h2>

     <ion-list *ngFor="let currentShow of watchListTVStats">
          <ion-item>
               <ion-grid>
                    <ion-row>
                         <ion-col size="6">
                              <ion-label *ngIf="currentShow['IMDB_URL'] == null">"{{ currentShow['WatchListItemName'] }}"</ion-label>
                              <a *ngIf="currentShow['IMDB_URL'] != null" [href]="currentShow['IMDB_URL']" target="_blank">{{ currentShow['WatchListItemName'] }}</a>&nbsp;
                         </ion-col>

                         <ion-col size="6">
                              <ion-label>watched {{ currentShow['ItemCount'] }} time(s)</ion-label>
                         </ion-col>

                         <ion-col size="3">
                              <ion-label>{{ currentShow['StartDate'] | date: 'MM/dd/yyyy' }}</ion-label>
                         </ion-col>

                         <ion-col size="1"></ion-col>
                         <ion-col size="1">-</ion-col>
                         <ion-col size="1"></ion-col>

                         <ion-col size="3">
                              <ion-label>{{ currentShow['EndDate'] | date: 'MM/dd/yyyy' }}</ion-label>
                         </ion-col>
                    </ion-row>
               </ion-grid>

              
          </ion-item>
     </ion-list>
</div>
</ion-content>