<ion-header [translucent]="true">
     <ion-toolbar>
          <ion-buttons slot="start"> 
               <ion-menu-button></ion-menu-button>                
          </ion-buttons>
          
          <ion-title>WatchList Items</ion-title>
     </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataService.isBackendURLSet() && dataService.isLoggedIn">
     <ion-refresher slot="fixed" (ionRefresh)="dataService.pullToRefresh($event,'WatchListItems')">
          <ion-refresher-content></ion-refresher-content>
     </ion-refresher>
     
     <ion-accordion-group expand="inset">
          <ion-accordion value="first">
               <ion-item slot="header" color="light">
                    <ion-label>Most frequently watched Source</ion-label>
               </ion-item>

               <h2>Most frequently watched Source</h2>

               <ion-list class="ion-list-parent" *ngFor="let currentSource of watchListSourceStats" slot="content">
                    <ion-item>
                         <ion-grid>
                              <ion-row>
                                   <ion-col size="6" class="first">
                                        <ion-label>{{ currentSource['WatchListSourceName'] }} watched {{ currentSource['SourceCount'] }} time(s)</ion-label>
                                   </ion-col>
                              </ion-row>
                         </ion-grid>
                    </ion-item>
               </ion-list>
          </ion-accordion>

          <ion-accordion value="second">
               <ion-item slot="header" color="light">
                    <ion-label>Top Rated</ion-label>
               </ion-item>

               <h2>Top Rated</h2>

               <ion-list class="ion-list-parent" *ngFor="let currentTopRated of watchListTopRatedStats" slot="content">
                    <ion-item>
                         <ion-grid>
                              <ion-row>
                                   <ion-col size="12" class="first">
                                        <ion-label>{{ currentTopRated['WatchListItemName'] }} {{ (currentTopRated['Season'] !== null ? ": Season " + currentTopRated['Season'] : "") }}</ion-label>
                                   </ion-col>

                                   <ion-col size="12" class="first">
                                        <ion-label>{{ currentTopRated['Rating'] }} / {{ dataService.ratingMax }}</ion-label>
                                   </ion-col>
                              </ion-row>
                         </ion-grid>
                    </ion-item>
               </ion-list>
          </ion-accordion>

          <ion-accordion value="third">
               <ion-item slot="header" color="light">
                    <ion-label>Top 10 most frequently watched Movies</ion-label>
               </ion-item>

               <h2>Top 10 most frequently watched Movies</h2>

               <ion-list *ngFor="let currentMovie of watchListMovieStats" slot="content">
                    <ion-item>
                         <ion-grid>
                              <ion-row>
                                   <ion-col size="12" class="first">
                                        <ion-label *ngIf="currentMovie['IMDB_URL'] === null">"{{ currentMovie['WatchListItemName'] }}"</ion-label>
                                        <a *ngIf="currentMovie['IMDB_URL'] !== null" [href]="currentMovie['IMDB_URL']" target="_blank">{{ currentMovie['WatchListItemName'] }}</a>&nbsp;
                                   </ion-col>

                                   <ion-col size="12" class="second">
                                        <ion-label>watched {{ currentMovie['ItemCount'] }} time(s)</ion-label>
                                   </ion-col>
                              </ion-row>
                         </ion-grid>
                    </ion-item>
               </ion-list>
          </ion-accordion>

          <ion-accordion value="fourth">
               <ion-item slot="header" color="light">
                 <ion-label>Top 10 most frequently watched TV Shows</ion-label>
               </ion-item>

               <h2>Top 10 most frequently watched TV Shows</h2>

               <div slot="content">
                    <ion-list *ngFor="let currentShow of watchListTVStats">
                         <ion-item>
                              <ion-grid>
                                   <ion-row>
                                        <ion-col size="12">
                                             <ion-label *ngIf="currentShow['IMDB_URL'] === null">{{ currentShow['WatchListItemName'] }} watched {{ currentShow['ItemCount'] }} times</ion-label>

                                             <ion-label>
                                                  <a *ngIf="currentShow['IMDB_URL'] !== null" [href]="currentShow['IMDB_URL']" target="_blank">{{ currentShow['WatchListItemName'] }}</a>  watched {{ currentShow['ItemCount'] }} times
                                             </ion-label>
                                        </ion-col>

                                        <ion-col size="12">
                                             <ion-label>{{ currentShow['StartDate'] | date: 'MM/dd/yyyy' }} thru {{ currentShow['EndDate'] | date: 'MM/dd/yyyy' }}</ion-label>
                                        </ion-col>
                                   </ion-row>
                              </ion-grid>
                         </ion-item>
                    </ion-list>
               </div>
          </ion-accordion>
     </ion-accordion-group>
</ion-content>