ion-icon {  
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#addToQueue {
    cursor: pointer;
}

ion-input {
    border-style: dashed;
    border-width: 1px;
}

#action_row {
    position: absolute;
    bottom: 0;
    left: 0;
}

#deleteIcon {
    position: absolute;
    bottom: 0;
    right: 0;
}

.editAddSelect {
    background-color: white;
}

.nooutline {
    outline:none !important;
}

.poster {
     max-height: 125px;
}

.shortField {
    max-width: 75px;
}