<ion-header [translucent]="true">
     <ion-toolbar>
          <ion-title>WatchList Items</ion-title>
     </ion-toolbar>
</ion-header>

<ion-content>
     <ion-grid>
          <ion-row class="optionsPanel">
               <ion-col size="2" class="addColumn">
                    <ion-icon *ngIf="!isAdding && !isEditing" class="addWatchList" name="add-outline" (click)="addWatchListItem()"></ion-icon>
               </ion-col>

               <ion-col size="5" id="searchBar">
                    <ion-searchbar (ionChange)="searchFilter()" [disabled]="isAdding || isEditing" [(ngModel)]="dataService.searchTerm" (ionDdisabled)="isAdding || isEditing"></ion-searchbar>
               </ion-col>

               <ion-col size="4" id="mobileToggle">
                    <ion-item>Mobile<ion-toggle [(ngModel)]="dataService.isMobilePlatform" color="primary"></ion-toggle></ion-item>
               </ion-col>
          </ion-row>
     </ion-grid>
      
     <div class="ion-list-parent">
          <ion-list>
               <ion-item> <!-- Table headers -->
                    <ion-grid>
                         <ion-row>
                              <ion-col size="2" class="IDColumn">
                                   <ion-label>ID</ion-label><ion-icon *ngIf="sortDirection =='ASC' && !isAdding && !isEditing" [ngClass]="sortActiveColumn === 'ID' ? 'upArrow IDArrowIcon active' : 'upArrow IDArrowIcon'" name="caret-up-outline" (click)="sortClick('ID','ASC')"></ion-icon><ion-icon *ngIf="sortDirection =='DESC' && !isAdding && !isEditing" [ngClass]="sortActiveColumn === 'ID' ? 'downArrow IDArrowIcon active' : 'downArrow IDArrowIcon'" name="caret-down-outline" (click)="sortClick('ID','DESC')"></ion-icon>
                              </ion-col>

                              <ion-col size="2" [ngClass]="dataService.isMobilePlatform == true ? 'nameLabelMobileColumn' : 'nameLabelColumn'">
                                   <ion-label class="NameLabel">Name</ion-label><ion-icon *ngIf="sortDirection =='ASC' && !isAdding && !isEditing" [ngClass]="sortActiveColumn === 'Name' ? 'upArrow NameArrowIcon active' : 'upArrow NameArrowIcon'" name="caret-up-outline" (click)="sortClick('Name','ASC')"></ion-icon><ion-icon *ngIf="sortDirection =='DESC' && !isAdding && !isEditing" [ngClass]="sortActiveColumn === 'Name' ? 'downArrow NameArrowIcon active' : 'downArrow NameArrowIcon'" name="caret-down-outline" (click)="sortClick('Name','DESC')"></ion-icon>
                              </ion-col>

                              <ion-col size="2" [ngClass]="dataService.isMobilePlatform == true ? 'typeLabelMobileColumn' : 'typeLabelColumn'">
                                   <ion-label>Type</ion-label><ion-icon *ngIf="sortDirection =='ASC' && !isAdding && !isEditing" [ngClass]="sortActiveColumn === 'Type' ? 'upArrow TypeArrowIcon active' : 'upArrow TypeArrowIcon'" name="caret-up-outline" (click)="sortClick('Type','ASC')"></ion-icon><ion-icon *ngIf="sortDirection =='DESC' && !isAdding && !isEditing" [ngClass]="sortActiveColumn === 'Type' ? 'downArrow TypeArrowIcon active' : 'downArrow TypeArrowIcon'" name="caret-down-outline" (click)="sortClick('Type','DESC')"></ion-icon>
                              </ion-col>

                              <ion-col size="3" [ngClass]="dataService.isMobilePlatform == true ? 'IMDBURLLabelMobileColumn' : 'IMDBURLLabelColumn'">
                                   <ion-label>IMDB URL</ion-label><ion-icon *ngIf="sortDirection =='ASC' && !isAdding && !isEditing" [ngClass]="sortActiveColumn === 'IMDB_URL' ? 'upArrow IMDBURLArrowIcon active' : 'upArrow IMDBURLArrowIcon'" name="caret-up-outline" (click)="sortClick('IMDB_URL','ASC')"></ion-icon><ion-icon *ngIf="sortDirection =='DESC' && !isAdding && !isEditing" [ngClass]="sortActiveColumn === 'IMDB_URL' ? 'downArrow IMDBURLArrowIcon active' : 'downArrow IMDBURLArrowIcon'" name="caret-down-outline" (click)="sortClick('IMDB_URL','DESC')"></ion-icon>
                              </ion-col>

                              <ion-col size="1">
                                   <ion-label></ion-label>
                              </ion-col>
                         </ion-row>
                    </ion-grid>               
               </ion-item>

               <ion-item *ngIf="isAdding">
                    <ion-grid>
                         <ion-row>
                              <ion-col size="2" class="IDColumn"></ion-col>

                              <ion-col size="2" [ngClass]="dataService.isMobilePlatform == true ? 'nameDataMobileColumn' : ''">
                                   <ion-input type="text" [(ngModel)]="addItemName" [value]="addItemName" ></ion-input>
                              </ion-col>

                              <ion-col size="2" [ngClass]="dataService.isMobilePlatform == true ? 'typeDataMobileColumn' : ''">
                                   <ion-select placeholder='Type' name="title" [(ngModel)]="addItemType">
                                        <ion-select-option *ngFor="let currItem of dataService.watchListTypes;trackBy: trackByFn" [value]="currItem.WatchListTypeID">{{currItem.WatchListTypeName}}</ion-select-option>
                                   </ion-select>
                              </ion-col>

                              <ion-col size="3">
                                   <ion-input type="text" [(ngModel)]="addItemIMDBURL"></ion-input>
                              </ion-col>

                              <ion-col size="1" class="actionColumn">
                                   <ion-icon name="save-outline" class="saveItem" (click)="saveNewWatchListItem()"></ion-icon>
                                   <ion-icon name="close-circle-outline" class="cancelButton" (click)="cancelAddWatchListItem()"></ion-icon>
                              </ion-col>
                         </ion-row>                    
                    </ion-grid>
               </ion-item>

               <ion-item *ngFor="let currWatchListItem of dataService.watchListItems">
                    <ion-grid>
                         <ion-row>
                              <ion-col size="2" class="IDColumn">
                                   <ion-label>{{ currWatchListItem.WatchListItemID }}</ion-label>
                              </ion-col>

                              <ion-col size="2" [ngClass]="dataService.isMobilePlatform == true ? 'nameDataMobileColumn' : ''">
                                   <ion-input [disabled]="currWatchListItem.Disabled" type="text" [(ngModel)]="currWatchListItem.WatchListItemName" [value]="currWatchListItem.WatchListItemName" ></ion-input>
                              </ion-col>

                              <ion-col size="2" [ngClass]="dataService.isMobilePlatform == true ? 'nameDataMobileColumn' : ''">
                                   <ion-select placeholder='Type' name="title" [disabled]="currWatchListItem.Disabled" [(ngModel)]="currWatchListItem.WatchListTypeID">
                                        <ion-select-option *ngFor="let currItem of dataService.watchListTypes;trackBy: trackByFn" [value]="currItem.WatchListTypeID">{{currItem.WatchListTypeName}}</ion-select-option>
                                   </ion-select>
                              </ion-col>

                              <ion-col size="3">
                                   <ion-input [disabled]="currWatchListItem.Disabled" type="text" [(ngModel)]="currWatchListItem.IMDB_URL"></ion-input>
                              </ion-col>

                              <ion-col size="1" class="actionColumn ion-text-start">
                                   <ion-icon *ngIf="currWatchListItem.Disabled && !isAdding && !isEditing" name="create-outline" (click)="editWatchListItem(currWatchListItem)"></ion-icon>
                                   <ion-icon *ngIf="!currWatchListItem.Disabled" class="saveItem" name="save-outline" (click)="saveWatchListItem(currWatchListItem)"></ion-icon>
                                   <ion-icon *ngIf="!currWatchListItem.Disabled" name="close-circle-outline" class="cancelButton" (click)="cancelEditWatchListItem(currWatchListItem)"></ion-icon>
                              </ion-col>
                         </ion-row>                    
                    </ion-grid>                   
               </ion-item>
          </ion-list>
     </div>
</ion-content>
